* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: black;
    background: url(cielo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #4c2882;
    padding-top: -20px;
    color: white;
}

nav {
    display: flex;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.7s;
}

header nav a:hover {
    color: black;
}

li {
    list-style: none;
}

.central {
/*  background: url(cielo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(83, 17, 197);
    text-align: center;
    font-size: 4vw;
    font-family: 'Recursive';
    font-weight: 700;
    text-shadow: 1px 1px rgb(194, 194, 194);
}

h2 {
    font-size: 2vw;
    font-weight: 700;
}

.central p {
    color: white;
    text-align: center;
    font-size: 2vw;
    font-family: 'Recursive';
}

.row {
    display: flex;
    flex-direction: row;
    gap: 8px; /*mod*/
    /*align-content:space-between mod*/
    /*justify-content: space-around;*/
    flex-flow: nowrap; /*mod*/
}

.card {
    width: 90%;
    background: white;
    margin-bottom: 50px;
    border: 2px solid #000000;
    border-radius: 10px; /*mod*/
    transition: 0.3s;
}

.card-header {
    padding: 30px 5px;
    text-align: center;
    color: white;
}

.card-body {
    padding: 20px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body .btn {
    display:inline-block;
    width: 70%;
    color: white;
    text-align: center;
    background-color: #4c2882;
    margin: 20px auto;
    text-decoration: none;
    padding: 10px 5px;
}

.card:hover {
    transform: scale(1.05);
    border-color:#c78c19; /*mod*/
}

.card-body .btn:hover {     /*mod*/
    transform: scale(1.05);
    border-color:#9b1c90da;
    background-color: #736d7c; 
}

.card-body .btn:active {    /*mod*/
    transform: scale(1.05);
    border-color:red;
    background-color: greenyellow;
}

.card-header img {
    width: 90%;
}

.ubicacion { /*mod*/
    color: white;
    padding: 3em 0;
    /*background: linear-gradient(#deb8ee, #b472d3);*/
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}

.ubicacion-mapa {
    padding-top: 2rem;
}

.datos-contacto {  /*mod*/
    /* font-family: "Open Sans", arial, sans-serif;*/
    font-size: 20px;
    text-align: center;
    background: #f05800;
    color: #fff;
    font-weight: 700;
    position: fixed;
    bottom: 10%;
    left: 0;
    width: 100%;
    padding: 8px 0;
}

footer {
    background-color: #4c2882;
    color: white;
    padding: 30px;
    /*margin-right: 20px;*/
    transition: 0.7s;
}

footer a:hover {
    color: black;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer p,a { /*mod*/
    color: white;
    text-align: center;
    text-decoration: none; /*mod*/
    margin-top: 20px;
}

form {
/*    display: inline-block;   */
     display: inline-flexbox;
    color: white;
    background-color: black;
}

label input {
    height: 30px;
    margin: 20px;
    padding-right: 20px;
    font-size: 20 px;
}

/*form label{                       */
/*    display: block;               */
/*    padding-left: 2rem;           */
/*}                                 */

fieldset {
    margin-left: 30px;
    margin-right: 30px;
    height: 400px;
    width: 400px;
    justify-content:center;
}

.margenes {
    margin-right: 30px;
    margin-left: 30px;
}

input {
    height: 30px;
    font-weight: bold;
}

input:hover {
    background-color: rgb(160, 106, 241);
    font-size: 15px;
    text-shadow: 2px 2px white;
}

input[type=checkbox] {
    accent-color: #4c2882;
}

.grid-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    /*background: linear-gradient(#deb8ee, #b472d3);*/
    text-align: center;
    color: white;
    margin: 2rem 2rem;
    row-gap: 2rem;    
}

.vidente {
    /*text-align:center;*/
    font-size: 1.2rem;    
    padding: 0 5rem 0 5rem;
    margin-block: 1rem;
}

@media only screen and (max-width: 940px) {
   
    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        /*background: linear-gradient(#deb8ee, #b472d3);*/
        text-align: center;
        color: white;
        margin: 2rem 2rem;
        row-gap: 2rem;    
    }
    
    .vidente {
        /*text-align:center;*/
        font-size: 1.2rem;    
        padding: 0 5rem 0 5rem;
        margin-block: 1rem;
    }

    h2{
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 740px) {
   
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        /*background: linear-gradient(#deb8ee, #b472d3);*/
        text-align: center;
        color: white;
        margin: 2rem 2rem;
        row-gap: 2rem;    
    }
    
    .vidente {
        /*text-align:center;*/
        font-size: 1.2rem;    
        padding: 0 5rem 0 5rem;
        margin-block: 1rem;
    }

    h2{
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 500px) {
    
}
